<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="{{url_for("static",filename='css/CommStyle.css')}}"/>
        <title>在线害虫识别系统</title>
    </head>
    <body>
        <header>
            <div class="header public-width">
                <div class="logo">
                    <img src="{{url_for("static",filename='src/bug_icon.svg')}}" width="40" height="40" />
                    <h3>在线害虫检测</h3>
                </div>
                <div class"nav">
                    <ul>
                        <li>
                            <a href="{{url_for("anayer.homepage")}}">首页</a>
                            <a href="{{url_for("anayer.database")}}">数据</a>
                            <a href="{{url_for("auth.account_edit")}}">用户：{{g.username}}</a>
                            <a href={{url_for('auth.logout')}}>退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    <body>
        <div class="public-width">
            <a href="{{url_for("anayer.database")}}">
                <h1>返回上层</h1>
            </a>
        </div>
        <div class="public-width">
            <h2 style="text-align: center;padding: 20px 0;">{{showname}}</h2>
            <span class="imgdock">
                <img class="img_detall" src="{{url_for("static",filename='results/'+imgname)}}"/>
            </span>
            {% for clsResult in clsResults %}
                    <p style="text-align: center;">{{clsResult}}</p>
            {% endfor %}
            <a href="download?name={{imgname}}">
                <h2 style="text-align: center;padding: 20px 0;">下载文件</h2>
            </a> 
        </div>

    </body>
    <footer class="footer">
        <p>在线害虫检测系统 2023.1.1 由ViperL1设计</p>
    </footer>
</html>