<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="{{url_for("static",filename='css/CommStyle.css')}}"/>
        <title>在线害虫识别系统-详情页</title>
    </head>
    <body>
        <header>
            <div class="header public-width">
                <div class="logo">
                    <img src="{{url_for("static",filename='src/bug_icon.svg')}}" width="40" height="40" />
                    <h3>在线害虫检测</h3>
                </div>
                <div class"nav">
                    <ul>
                        <li>
                            <a href="{{url_for("anayer.homepage")}}">首页</a>
                            <a href="{{url_for("anayer.about")}}">关于</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    <body>
        <div class="banner">
            <div class="public-width">
                <img src="{{url_for("static",filename='src/inner_banner.png')}}"/>
            </div>
        </div>
        <div class="Form public-width">
            <span>
                <h1>{{info_title}}</h1>
                <li>
                    <p style="align-items:inherit; text-indent: 2em;">{{messages}}</p>
                    <a href="{{url_for("anayer.homepage")}}">
                        <h2 style="text-indent: 1em;">返回首页</h2>
                    </a>
                </li>
            </span>
        </div>
    </body>
    <footer class="footer">
        <p>在线害虫检测系统 2023.1.1 由ViperL1设计</p>
    </footer>
</html>