<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="{{url_for("static",filename='css/CommStyle.css')}}"/>
        <title>在线害虫识别系统-请登录</title>
    </head>
    <body>
        <header>
            <div class="header public-width">
                <div class="logo">
                    <img src="{{url_for("static",filename='src/bug_icon.svg')}}" width="40" height="40" />
                    <h3>在线害虫检测</h3>
                </div>
                <div class"nav">
                    <ul>
                        <li>
                            <a href="{{url_for("anayer.homepage")}}">首页</a>
                            <a href="{{url_for("auth.login")}}">登录</a>
                            <a href="{{url_for("auth.register")}}">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    <body>
        <div class="banner">
            <div class="public-width">
                <img src="{{url_for("static",filename='src/login_banner.jpg')}}"/>
            </div>
        </div>
        <form name="acount" action="login" method="post" enctype="multipart/form-data">
            <div class="Form public-width">
                <span>
                    <p>请输入帐号/邮箱</p>
                    <input class="txt" name="account"/>
                    <p>请输入密码</p>
                    <input class="txt" name="psw" type="password"/>
                    <div class="btnpanel">
                        <button class="btn" type="submit">登录</button>
                        <button class="btn" type="button" onClick="alert('暂无此功能，请联系管理员')">忘记密码</button>
                    </div>
                </span>
            </div>
        </form>
    </body>
    <footer class="footer">
        <p>在线害虫检测系统 2023.1.1 由ViperL1设计</p>
    </footer>
</html>